extends ../layout

block append head
	script(src="/js/lib/jquery.backstretch.min.js")
	link(href="/css/profile.css", rel="stylesheet", type="text/css")
	
block content
	.preloader
		.sk-spinner.sk-spinner-wordpress
			span.sk-inner-circle

	form(method="POST")
		input(type='hidden', name='_csrf', value=_csrf)
		header
			.container
				.row
					.col-md-12.col-sm-12
						img#pfp.img-responsive.img-circle.tm-border(src='', alt='profile picture', height=300, width=300)
						hr
						#settingsicon
							i.fa.fa-users.fa-lg
							.settings
								input(type="submit" value="Save Changes" class="settings")
						h3#email


		.section.container
			.row
				.col-md-6.col-sm-12
					#about
						h3.accent
							| About
						h6
							| Jenny Xu
						.content
						.settings
				.col-md-6.col-sm-12
					#skills
						h3.accent
							| Top Languages
							i.pull-right.fa.fa-cog
						.content
						.settings

		<section class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12">
					<div class="education">
						<h2 class="accent">Technologies</h2>
						<div class="row">
							<div class='col-md-6' id="familiar">
								<h4 class='bold'>Most Familiar</h4>
								<div class="content">

								</div>
								<div class="settings">

								</div>
							</div>
							<div class='col-md-6' id="interested">
								<h4 class='bold'>Most Interested</h4>
								<div class="content"></div>
								<div class="settings"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="languages" id="fields">
						<h2>Fields</h2>
						<div class="content"></div>
						<div class="settings"></div>

					</div>
				</div>
			</div>
		</section>

		<section class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="contact" id="hackathons">
						<h2>Hackathons</h2>
						<div class="content"></div>
						<div class="settings"></div>
					</div>
				</div>
				<div class="col-md-8 col-sm-12">
					<div class="experience">
						<h2>A Little More About Me...</h2>
						<div class="experience-content" id="note">
							<div class="content"></div>
							<div class="settings"></div>
						</div>
					</div>
				</div>
			</div>
		</section>


	#modalLanguages.modal.fade(tabindex='-1', role='dialog', style='display:none;', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header(style='padding-bottom: 0px;')
					.col-md-11
						h5.modal-title Languages
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body

	#modalfamiliar.modal.fade(tabindex='-1', role='dialog', style='display:none;', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header(style='padding-bottom: 0px;')
					.col-md-11
						h5.modal-title Technologies
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body

	#modalinterested.modal.fade(tabindex='-1', role='dialog', style='display:none;', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header(style='padding-bottom: 0px;')
					.col-md-11
						h5.modal-title Technologies
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
	#modalfields.modal.fade(tabindex='-1', role='dialog', style='display:none;', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header(style='padding-bottom: 0px;')
					.col-md-11
						h5.modal-title Technologies
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
	#modalhackathons.modal.fade(tabindex='-1', role='dialog', style='display:none;', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header(style='padding-bottom: 0px;')
					.col-md-11
						h5.modal-title Technologies
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					select#hackathonYear
						option(selected="selected" value=0) select a hackathon year
						option(value="2014") 2014
						option(value="2015") 2015
						option(value="2016") 2016
						option(value="2017") 2017
		script.
			var User = !{JSON.stringify(dashboardUser)};
			var settingsEnabled = !{settingsEnabled};

		script(src="/js/profile.js")
	

