extends ../layout

block content

	<!-- preloader section -->
	<div class="preloader">
		<div class="sk-spinner sk-spinner-wordpress">
			<span class="sk-inner-circle"></span>
		</div>
	</div>
	<!-- header section -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<img src="/images/tm-easy-profile.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
					<h1 id="title"></h1>
					<hr>
				</div>
			</div>
		</div>
	</header>

	<!-- about and skills section -->
	<section class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div id="about">
					<h3 class="accent">About</h3>
					<h6>Jenny Xu</h6>
					<div class="content"></div>
					<div class="settings">
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div id="skills">
					<h3 class="accent">Top Languages<i class='pull-right fa fa-cog'></i></h3>
				</div>
			</div>
		</div>
	</section>

	<!-- education and languages -->
	<section class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12">
				<div class="education">
					<h2 class="accent">Technologies</h2>
					<div class="row">
						<div class='col-md-6' id="familiar">
							<h4 class='bold'>Most Familiar</h4>
							<div class="content">

							</div>
							<div class="settings">

							</div>
						</div>
						<div class='col-md-6' id="interested">
							<h4 class='bold'>Most Interested</h4>
							<div class="content"></div>
							<div class="settings"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="languages" id="fields">
					<h2>Fields</h2>
					<div class="content"></div>
					<div class="settings"></div>

				</div>
			</div>
		</div>
	</section>

	<!-- contact and experience -->
	<section class="container">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<div class="contact" id="hackathons">
					<h2>Hackathons</h2>
					<div class="content"></div>
					<div class="settings"></div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12">
				<div class="experience">
					<h2>A Little More About Me...</h2>
					<div class="experience-content" id="note">
						<div class="content"></div>
						<div class="settings"></div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!--modals-->
	<div class="modal fade" id="tech-familiar" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
		<div class='modal-dialog' role='document'>
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Technologies</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class='bg-light'>
					<div class='row' style="align-items: center;">
						<div class="col-md-1"></div>
						<div class="col-md-4"><span>Amazon Alexa</span></div>
						<div class="col-md-4"><span class="pull-left">15</span><i class="pull-left fa fa-thumbs-o-up fa-lg" aria-hidden="true" style="margin-right:-15px;"></i></div>
						<div class="col-md-3"><button style="border-radius: 0px; border-width: 0px;" onclick="addTechFamiliar('Alexa','15')"><i class='fa fa-plus'></i>Add</button></div>
					</div>
				</div>
				<div class='bg-white'>
					<div class='row' style="align-items: center;">
						<div class="col-md-1"></div>
						<div class="col-md-8"><span>Amazon Alexa</span></div>
						<div class="col-md-3"><button style="border-radius: 0px; border-width: 0px;"><i class='fa fa-plus'></i>Add</button></div>
					</div>
				</div>
				<div class='bg-light'>
					<div class='row' style="align-items: center;">
						<div class="col-md-1"></div>
						<div class="col-md-8"><span>Amazon Alexa</span></div>
						<div class="col-md-3"><button style="border-radius: 0px; border-width: 0px;"><i class='fa fa-plus'></i>Add</button></div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<p>Copyright &copy; 2084 Your Easy Profile</p>
					<ul class="social-icons">
						<li><a href="#" class="fa fa-facebook"></a></li>
						<li><a href="#" class="fa fa-google-plus"></a></li>
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-dribbble"></a></li>
						<li><a href="#" class="fa fa-github"></a></li>
						<li><a href="#" class="fa fa-behance"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>



