extends ../layout

block append head
	script(src="/js/lib/jquery.backstretch.min.js")
	link(href="/css/profile.css", rel="stylesheet", type="text/css")
	
block content
	.preloader
		.sk-spinner.sk-spinner-wordpress
			span.sk-inner-circle

	form(method="POST" action="/account?_csrf="+_csrf, class="registerForm", enctype='multipart/form-data')
		
		header
			.container
				.row
					.col-md-12.col-sm-12
						img#pfp.img-responsive.img-circle.tm-border(src='', alt='profile picture', height=300, width=300)
						.settings
							input(type="file", name="myFile", id="imgInp")
						hr
						#settingsicon.row
							.col-md-5
							.col-md-1
								i.fa.fa-users.fa-lg
							.col-md-6
								.settings
									input(type="submit" value="Save Changes" class="settings" id="submitChanges" style="width:150px;")
						h3#email
						#error


		<section class="container">
			<div class="row">
				.col-md-6.col-sm-12#about-app
					#about
						h3.accent
							| About
						h6#name
						.content
						.settings
				<div class="col-md-6 col-sm-12">
					<div id="skills">
						<h3 class="accent">Top Languages</h3>
						<div class="content">
							<div class="lan" v-for="(lan,index) in languages">
								<div v-if="lan[0] != '' ">
								<strong>{{lan[0]}}</strong>
								<div v-if="lan.length > 2">
									<i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
									<span>{{lan[2]}}</span>
								</div>
								<span style="float:right">{{lan[1]*10}}%</span>
								<div class="progress">
									<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" v-bind:aria-valuenow="lan[1]" v-bind:style="{width:lan[1]*10+'%'}"></div>
								</div>
								</div>
							</div>
						</div>
						<div class="settings">
							<input v-bind:value="input" type="hidden" name="lanContent" ref="fieldsContent"  />
							<div class="lan" style="padding-top:10px;" v-for="(lan,index) in languages">
								<div v-if="lan[0] != '' ">
								<strong>{{lan[0]}}</strong>
								<div v-if="lan.length > 2">
									<i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
									<span>{{lan[2]}}</span>
								</div>

								<i v-on:click="deleteObject(index, lan)" class="fa fa-times" style="float:right;"></i>
								<span style="float:right; padding-right:5px;">%</span>
								<input v-bind:value="lan[1]" type="number" class="max100Input" min="1" max="10" />
								<div class="progress">
									<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" v-bind:aria-valuenow="lan[1]" v-bind:style="{width:lan[1]+'%'}"></div>
								</div>
								</div>
							</div>
							<div style="padding-top:20px;">
								<button v-on:click.prevent v-if="totalLans < 5" data-toggle="modal" data-target="#modalLan" style="border-radius: 0px; border-width: 1px; text-align:center;">
								<i class="fa fa-plus"></i> add</button>
							</div>
						</div>
						<div class="modal fade" id="modalLan" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content" style="color:dimgrey;">
									<div class="modal-header" style="padding-bottom: 0px;">
										<div class="col-md-11">
											<h5 class="modal-title">Languages</h5>
										</div>
										<button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
									</div>
									<div class="modal-body">
										<div class="row" v-for="(constant, index) in constants">
											<div class="col-md-8">
												<span style="padding-left: 30px;">{{constant.name}}</span>
											</div>
											<button v-on:click.prevent="appendObject(constant.name, 10, index)" class="pull-right" style="border:none;"><i class="fa fa-plus"></i>Add</button>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

		<section class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12">
					<div class="education">
						<h2 class="accent">Technologies</h2>
						<div class="row">
							<div class='col-md-6' id="app-3">
								<h4 class='bold'>Most Familiar</h4>
								<div class="content">
									<div class="tech" v-for="(field,index) in fields">
										<div v-if="field[0] != '' ">
											<span style="float:right">{{field[1]}}/10</span>
											<li>{{field[0]}}</li>
										</div>
									</div>
								</div>
								<div class="settings">
									<input v-bind:value="input" type="hidden" name="techContent" ref="fieldsContent"  />
									<div class="tech" v-for="(field,index) in fields">
									<div class="row" v-if="field[0] != '' ">
										<div class="col-md-10">
											<i v-on:click="deleteObject(index, field)" class="fa fa-times" style="padding-right:5px"></i>{{field[0]}}
										</div>
										<input v-bind:value="field[1]" class="max10Input" type="number" min="1" max="10" />
									</div>
									</div>
									<button v-on:click.prevent v-if="totalFields < 5" data-toggle="modal" data-target="#modalTech" style="border-radius: 0px; border-width: 1px; text-align:center">
										<i class="fa fa-plus"></i> add</button>
								</div>
								<div class="modal fade" id="modalTech" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content" style="color:dimgrey;">
											<div class="modal-header" style="padding-bottom: 0px;">
												<div class="col-md-11">
													<h5 class="modal-title">Technologies</h5>
												</div>
												<button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
											</div>
											<div class="modal-body">
												<div class="row" v-for="(constant, index) in constants">
													<div class="col-md-8">
														<span style="padding-left: 30px;">{{constant.name}}</span>
													</div>
													<button v-on:click.prevent="appendObject(constant.name, 10, index)" class="pull-right" style="border:none;"><i class="fa fa-plus"></i>Add</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class='col-md-6' id="app-interest">
								<h4 class='bold'>Most Interested</h4>
								<div class="content">
									<div class="interest" v-for="(field,index) in fields">
									<div v-if="field[0] != '' ">
										<span style="float:right">{{field[1]}}/10</span>
										<li>{{field[0]}}</li>
									</div>
									</div>
								</div>
								<div class="settings">
									<input v-bind:value="input" type="hidden" name="interestsContent" ref="fieldsContent"  />
									<div class="interest" v-for="(field,index) in fields">
									<div class="row" v-if="field[0] != '' ">
										<div class="col-md-10">
											<i v-on:click="deleteObject(index, field)" class="fa fa-times" style="padding-right:5px"></i>{{field[0]}}
										</div>
										<input v-bind:value="field[1]" type="number" class="max10Input" min="1" max="10" />
									</div>
									</div>
									<button v-on:click.prevent v-if="totalFields < 5" data-toggle="modal" data-target="#modalInterest" style="border-radius: 0px; border-width: 1px; text-align:center">
										<i class="fa fa-plus"></i> add</button>
								</div>
								<div class="modal fade" id="modalInterest" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content" style="color:dimgrey;">
											<div class="modal-header" style="padding-bottom: 0px;">
												<div class="col-md-11">
													<h5 class="modal-title">Interests</h5>
												</div>
												<button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
											</div>
											<div class="modal-body">
												<div class="row" v-for="(constant, index) in constants">
													<div class="col-md-8">
														<span style="padding-left: 30px;">{{constant.name}}</span>
													</div>
													<button v-on:click.prevent="appendObject(constant.name, 10, index)" class="pull-right" style="border:none;"><i class="fa fa-plus"></i>Add</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="languages col-md-4 col-sm-12" id="app-5">
					<h2 class="accent">Fields</h2>
					<div class="content">
						<div class="field" v-for="(field,index) in fields">
						<div v-if="field[0] != '' ">
							<span style="float:right">{{field[1]}}/10</span>
							<li>{{field[0]}}</li>
						</div>
						</div>
					</div>
					<div class="settings">
						<ul>
							<input v-bind:value="input" type="hidden" name="fieldsContent" ref="fieldsContent"  />
							<li class="field"  style="list-style-type: none;" v-for="(field,index) in fields">
							<div v-if="field[0] != '' ">
								<i v-on:click="deleteObject(index, field)" class="fa fa-times" style="padding-right:5px"></i>{{field[0]}}
								<input v-bind:value="field[1]" type="number" class="max10Input" min="1" max="10" />
							</div>
							</li>
						</ul>
						<button v-on:click.prevent v-if="totalFields < 5" data-toggle="modal" data-target="#modalField" style="border-radius: 0px; border-width: 1px; text-align:center">
							<i class="fa fa-plus"></i> add</button>
					</div>
					<div class="modal fade" id="modalField" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header" style="padding-bottom: 0px;">
									<div class="col-md-11">
										<h5 class="modal-title">Fields</h5>
									</div>
									<button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
								</div>
								<div class="modal-body">
									<div class="row" v-for="(constant, index) in constants">
										<div class="col-md-8">
											<span style="padding-left: 30px;">{{constant.name}}</span>
										</div>
										<button v-on:click.prevent="appendObject(constant.name, 10, index)" class="pull-right" style="border:none;"><i class="fa fa-plus"></i>Add</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>

		<section class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="contact" id="app-hackathons">
						<h2>Hackathons</h2>
						<div class="content">
							<div class="hackathon" 	v-for="(hackathon,index) in hackathons">
							<div v-if="hackathon[0] != '' ">
								<i v-if="hackathon.length > 2" class="fa fa-trophy" style="float:right;"></i>
								<li style="float:left;">{{hackathon[0]}}  {{hackathon[1]}}</li>
							</div>
							</div>
						</div>
						<div class="settings">
							<ul>
								<input v-bind:value="input" type="hidden" name="hackathonsContent" ref="fieldsContent"  />
								<li class="field" style="list-style-type: none;" v-for="(hackathon,index) in hackathons">
									<div v-if="hackathon[0] != '' ">
									<i v-on:click="deleteObject(index, hackathon)" class="fa fa-times" style="padding-right:5px" style="float:left"></i>
									<span>{{hackathon[0]}}  {{hackathon[1]}}</span>
									<i v-if="hackathon.length > 2" class="fa fa-trophy" style="float:right;"></i>
									</div>
								</li>
							</ul>
							<button v-on:click.prevent v-if="totalFields < 5" data-toggle="modal" data-target="#modalHackathons" style="border-radius: 0px; border-width: 1px; text-align:center">
								<i class="fa fa-plus"></i> add</button>
						</div>
						<div class="modal fade" id="modalHackathons" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header" style="padding-bottom: 0px;">
										<div class="col-md-11">
											<h5 class="modal-title">Hackathons</h5>
										</div>
										<button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
									</div>
									<div class="modal-body">
										<select v-on:change="hackYear" ref="hackathonYear">
											<option selected="selected" disabled value="">Please select hackathon year</option>
											<option value="0">2014</option>
											<option value="1">2015</option>
											<option value="2">2016</option>
											<option value="3">2017</option>
											<option value="4">2018</option>
										</select>
										<div class="row" v-for="(constant, index) in constants">
											<div class="col-md-8">
												<span style="padding-left: 30px;">{{constant.name}}</span>
											</div>
											<button v-on:click.prevent="appendObject(constant.name, index)" class="pull-right" style="border:none;"><i class="fa fa-plus"></i>Add</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-8 col-sm-12">
					<div class="experience">
						<h2>A Little More About Me...</h2>
						<div class="experience-content" id="note">
							<div class="content"></div>
							<div class="settings">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		script.
			var User = !{JSON.stringify(dashboardUser)};
			var settingsEnabled = !{settingsEnabled};

		script(src="/js/profile.js")
	
