extends ../layout

block content
  <form id="msform" action="/signup2" method="POST">
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Account Setup</li>
      <li>Social Profiles</li>
      <li>Personal Details</li>
    </ul>
    <!-- fieldsets -->
    
    <fieldset>
      <h2 class="fs-title">Demographics Information</h2>
      <h3 class="fs-subtitle">Just some quick info...</h3>
      <input type="text" />
      <div class="bg-danger" id="reg-error"></div>
      <input type="text" id="reg-school" name="school" placeholder="School You Attend" />
      <input type="text" id="reg-major" name="major" placeholder="Major" />
      <input type="text" id="reg-graduationYear" name="graduationYear" placeholder="Graduation Year" />
      <input type="text" id="reg-educationLevel" name="educationLevel" placeholder="Education Level" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Personal Details</h2>
      <h3 class="fs-subtitle">Let us know you better.</h3>
      <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" />
      <input type="text" name="interests" value="" data-role="tagsinput" placeholder="What are you interested in working on?" />
      <input type="text" name="languages" placeholder="What languages are you familiar with?" />
      <input type="text" name="technologies" placeholder="What technologies have you used?" />
      <input type="text" name="fields" placeholder="What fields are you interested in?" />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Social Profile</h2>
      <h3 class="fs-subtitle">Help others know you better</h3>
      <input type="text" name="facebook" placeholder="First Name" />
      <input type="text" name="linkedin" placeholder="Last Name" />
      <input type="text" name="phone" placeholder="Phone" />
      <textarea name="address" placeholder="Address"></textarea>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>
  </form>

