extends ../layout

block content
	form(id='msform', method='POST' action='/signup', class="registerForm")
		<input type="hidden" name="_csrf" value="{{_csrfToken}}">
		// progressbar
		ul#progressbar
			li.active Demographic Information
			li Personal Details
			li Social Profile
		// fieldsets
		fieldset
			h2.fs-title Demographic Information
			h3.fs-subtitle
				| Just some quick info 
				span(value='#{name}', name='username') #{name}
				| ...
			// <input type="text" class="tagsinput"/>
			#reg-error.bg-danger
			input(type='hidden', name='email', value='#{email}')
			label.required(for='reg-school')
				| //
				input#reg-school(type='text', name='school', placeholder='School You Attend', list='unis-datalist')
				select#reg-school(name='school', placeholder='School')
					option School
			datalist#unis-datalist
			label.required(for='reg-major')
				input#reg-major(type='text', name='major', placeholder='Major')
			div
				label.required(for='reg-educationLevel')
					select#reg-educationLevel(name='educationLevel', placeholder='Your Current Education Level')
						option(value='null') Education level
						option(value='High School') High School
						option(value='Undergraduate') Undergraduate
						option(value='Graduate') Graduate
						option(value='PhD') PhD
				label.required(for='reg-graduationYear')
					select#reg-graduationYear(name='graduationYear', placeholder='Your Graduation Year')
						option(value='null') Graduation Year
						option(value='2018') 2018
						option(value='2019') 2019
						option(value='2020') 2020
						option(value='2021') 2021
						option(value='2022') 2022
						option(value='2023') 2023
						option(value='2024') 2024
						option(value='2025') 2025
			label(for='reg-hackathons') How Many Hackathons Have You Been To?
			select#reg-hackathons(name='hackathons')
				option(value='0') None
				option(value='1') 1
				option(value='2') 2
				option(value='3') 3
				option(value='4') 4
				option(value='5') 5
				option(value='10') 6-10
				option(value='15') 11-15
				option(value='20') 16-20
				option(value='21') 20+
			#selectHackathons
			input#next1.next.action-button(type='button', name='next', value='Next')
		fieldset
			h2.fs-title Personal Details
			h3.fs-subtitle Let us know you better.
			div
				label(for='multiselect', style='padding-right: 10px;') What Are You Interested In? 
				select#reg-interest.multiselect(name='interests', multiple='multiple', style='width:70%;height: 20px;')
			div
				label(for='multiselect', style='padding-right: 10px;') Languages You Are Familiar With: 
				select#reg-languages.multiselect(name='languages', multiple='multiple', style='width:70%;height: 20px;')
			div
				label(for='multiselect', style='padding-right: 10px;') What Technologies Have You Used? 
				select#reg-technologies.multiselect(name='technologies', multiple='multiple', style='width:70%;height: 20px;')
			div
				label(for='multiselect', style='padding-right: 10px;') What Fields Are You Interested In Working On? 
				select#reg-fields.multiselect(name='fields', multiple='multiple', style='width:70%;height: 20px;')
			div
				label(for='multiselect', style='padding-right: 10px;') What Are Your Hobbies? 
				select#reg-hobbies.multiselect(name='hobbies', multiple='multiple', style='width:70%;height: 20px;')
			input.previous.action-button(type='button', name='previous', value='Previous')
			input.next.action-button(type='button', name='next', value='Next')
		fieldset
			h2.fs-title Social Profile
			h3.fs-subtitle Help others know you better
			div(style='padding-top:15px;')
				.row
					.col-md-4
						label Website:
					input.pull-right(value='null', name='website', placeholder='Personal Website')
				.row
					.col-md-4
						label Devpost:
					input.pull-right(value='null', name='devpost', placeholder='Devpost')
				.row
					.col-md-4
						label Phone:
					input.pull-right(value='null', name='phone', placeholder='Phone')
			div
				.row
					.col-md-3(style='margin-left: -12px;')
						label Facebook:
					input(style='width:70%;', value='null', name='facebook', placeholder='https://www.facebook.com/your_name')
				.row
					.col-md-3(style='margin-left: -12px;')
						label Instagram:
					input(style='width:70%;', value='null', name='instagram', placeholder='https://www.instagram.com/your_name')
				.row
					.col-md-3(style='margin-left: -12px;')
						label Linkedin:
					input(style='width:70%;', value='null', name='linkedin', placeholder='https://www.linkedin.com/your_name')
				.row
					.col-md-3(style='margin-left: -12px;')
						label Github:
					input(style='width:70%;', value='null', name='github', placeholder='https://www.github.com/your_name')
			input.previous.action-button(type='button', name='previous', value='Previous')
			input#user(type='hidden', name='user')
			input.submit.action-button(type='submit', name='submit', value='Submit', class='registerButton')

	form(id = method='POST' action='/api/upload', enctype='multipart/form-data', class="uploadForm")
			.label Upload Profile Image
			input(type="file", name="myFile")
			img#img-upload(height='300;', width='300;')
			input.submit.action-button(type='submit', class="upload", name='submit', value='Submit')

