extends ../layout

block content
	h3 Please verify your email
	h6 An email has been sent to your inbox, please click the link in the email to confirm your email
	form(action="/resendemail" method="POST")
		<h6>Click <a>here</a> to resend an email</h6>