//TODO: prevent link in search box after clicking see all results
.navbar.navbar-light.fixed-top.navbar-expand-md#headerApp
  a.navbar-brand(href='/')
    i.fas.fa-cube
    | Hacker Matcher
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
    span.sr-only Toggle navigation
    span.navbar-toggler-icon
  .collapse.navbar-collapse
    ul.nav.navbar-nav
      if user
        .search-container
          button.search
            i.fa.fa-search
          input(type="text" name="typeahead" class="typeahead tt-query" id="searchInput" autocomplete="off" spellcheck="false" placeholder="Search for a user or hackathon...")
  
    ul.nav.navbar-nav.ml-auto
      if !user
        form(method='POST', action="/login")
          input(type='hidden', name='_csrf', value=_csrf)
          .row#login
            .col-md-auto
              label(for="email" class="pull-left") 
                | Email
            .col-md-auto
              .form-group
                input(type="text" placeholder="Your Email" name="email" class="pull-right", autofocus, required)
            .col-md-auto
              label(for="password") 
                | Password
            .col-md-auto
              .form-group
                input(type="text" placeholder="Your Password" name="password", autofocus, required)
            .col-md-1(style="margin-right:20px;")
              button.btn.btn-primary(type='submit')
                i.far.fa-user.fa-sm
                | Login
          .row
            .col-md-6
            .offset-md-1
              a(href='/forgot' id="forgotpw") 
                | Forgot password?

      else
        #profile.li.active(class=(title === 'Home') ? 'active' : undefined)
          a(href="/account" style="text-decoration:none; color: black")
            if user.profileimg
                img(src=user.profileimg)
            else
              img(src=user.gravatar(60))
            span= user.name || user.email || user.id
        li.active.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
        li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
          a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
            i.caret
          ul.dropdown-menu
            li.dropdown-item
              a(href='/account') Account Settings
            li.divider.dropdown-item
            li.dropdown-item
              a(href='/preferences') Preferences Settings
            li.divider.dropdown-item
            li.dropdown-item
              a(href='/logout') Logout

script.
  var movies = new Bloodhound({
      datumTokenizer: function (datum) {
          return Bloodhound.tokenizers.whitespace(datum.value);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
          url: '/search?keyword=%QUERY&searchtype=home',
          prepare: function(query, settings) {
            settings.url += '?q=' + query;
            return settings;
          },
          rateLimitWait: 500,
          filter: function (movies) {
              //Handle user & hackathon type search
              var counter = 0;
              
              return $.map(movies, function (movie) {
                if(movie.hasOwnProperty('errorMsg')){
                  return{
                    value: '<span>An error has occured in the server. Please try later<span>'
                  }
                }else{
                  if(movie.firstname === undefined || movie.firstname === ''){
                    counter++;
                    if(counter >= 5){
                      return{
                        value: '<a href="/search?keyword='+$('.typeahead').typeahead('val')+'&searchtype=result" > See all Results </a>'
                      }
                    }
                    return{
                      value: '<a style="text-decoration: none;" href="/hackathons/'+movie.urlId+'"><img src="'+movie.imageurl+'" /><span style="font-size:10px;">    '+movie.name+'</span></a>'
                    }
                  }else{
                    counter++;
                    if(counter >= 5){
                      return{
                        value: '<a href="/search?keyword='+$('.typeahead').typeahead('val')+'&searchtype=result" > See all Results </a>'
                      }
                    }
                    return{
                      value: '<a style="text-decoration: none;" href="/users/'+movie.urlId+'"><img src="'+movie.profileimg+'" /><span>    '+movie.firstname+' '+movie.lastname+'</span></a>'
                    }
                  }
                }
              });
          }
      }
  });

  // Initialize the Bloodhound suggestion engine
  movies.initialize();

  // Instantiate the Typeahead UI
  $('.typeahead').typeahead(null, {
      displayKey: 'value',
      source: movies.ttAdapter(),
      minLength: 1,
      order: "asc",
      dynamic: true,
      delay: 500,
      backdrop: {
          "background-color": "#fff"
      },
      empty: "no result",
    
    debug: true
  });






  