.navbar.navbar-light.fixed-top.navbar-expand-md
  a.navbar-brand(href='/')
    i.fas.fa-cube
    | Hacker Matcher
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
    span.sr-only Toggle navigation
    span.navbar-toggler-icon
  .collapse.navbar-collapse
    ul.nav.navbar-nav
      if !user
        li.active.nav-item
          .search-container
            button.search
              i.fa.fa-search
            <input type="text" name="typeahead" class="typeahead tt-query" id="searchInput" autocomplete="off" spellcheck="false" placeholder="Search for a user or hackathon...">
        li.active.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
    
    ul.nav.navbar-nav.ml-auto

      if !user
        form(method='POST', action="/login")
          input(type='hidden', name='_csrf', value=_csrf)
          .row.nav-item
            .col-md-1
              label(for="login-email" class="pull-left") 
                | Email
            .col-md-3
              .form-group
                input(type="text" placeholder="Your Email" name="login-email" class="pull-right", autofocus, required)
            .col-md-1
            .col-md-auto
              label(for="login-password") 
                | Password
            .col-md-auto
              .form-group
                input(type="text" placeholder="Your Password" name="login-password", autofocus, required)
            .col-md-1
              button.btn.btn-primary(type='submit')
                i.far.fa-user.fa-sm
                | Login
          .row
            .col-md-6
            .offset-md-1
              a(href='/forgot' id="forgotpw") 
                | Forgot password?

      else
        li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
          a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
            if user.picture
              img(src=user.picture)
            else
              img(src=user.gravatar(60))
            span= user.name || user.email || user.id
            i.caret
          ul.dropdown-menu
            li.dropdown-item
              a(href='/account') My Account
            li.divider.dropdown-item
            li.dropdown-item
              a(href='/logout') Logout

script.
  console.log('in header script');
  var movies = new Bloodhound({
      datumTokenizer: function (datum) {
          return Bloodhound.tokenizers.whitespace(datum.value);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
          url: '/search?keyword=%QUERY&searchtype=home&type=user',
          filter: function (movies) {
              console.log(movies);
              return $.map(movies, function (movie) {
                  return {
                      value: movie.name
                  };
              });
          }
      }
  });

  // Initialize the Bloodhound suggestion engine
  movies.initialize();

  // Instantiate the Typeahead UI
  $('.typeahead').typeahead(null, {
      displayKey: 'value',
      source: movies.ttAdapter()
  });






  