extends layout

block append head
	link(rel='stylesheet' href="/css/hackathon.css")

block content 
	.hackathon
		header#mu-hero
			.mu-hero-overlay
				.container
					.mu-hero-area
						.mu-hero-featured-area
							.mu-logo-area
								img.mu-logo-img
								a.mu-logo(href='#') 
							.mu-hero-featured-content

			

		.bg-light.text-dark
			.container
				.about.center
					h2 About The Hackathon

		.container
			.sponsors.center
				h2 Sponsors
		
		.bg-light.text-dark
			.container
				.hackers.center
					h2 Attending Hackers
					.row
						.col-md-5
						#visButton
							<div v-if="hasHackers == true">
								button.btn-primary(style="margin-right:20px;")
									a(href="http://hackermatcher.herokuapp.com" id="visLink") View All 
								button.btn-primary
									a(href="http://hackermatcher.herokuapp.com" id="prefLink") Set Preferences
							</div>
							<div v-else>
								span(style="padding:20px;")
									| There are no hackers who matches you based on your preferneces input. You can reset your preferences settings <a href="http://hackermatcher.herokuapp.com" id="prefLink"> here</a>
							</div>
							
							
							
							 
					.attending-hackers
					
							


	script.
		var hackathon = !{JSON.stringify(foundHackathon)};
		var containsHackers = !{containsHackers}
		console.log(containsHackers);
		if(containsHackers){
			var matches = !{JSON.stringify(data)}
		}

	script(src="/js/hackathon.js")


		
	