extends layout

block content

	.container
			.row
				.col-md-3
					.major
				.col-md-3
					.gradYear
				.col-md-3
					.eduLevel
				.col-md-3
					.numOfHacks
			
			button(id="submitFilters") Set Filters


	script.
		var allMatches = !{JSON.stringify(matches)};