a{
	text-decoration: none;
}

.navbar{
	position: absolute;
	height:100px !important;
}
.navbar-nav img {
	width: 70px;
	height: 70px;
	padding: 10px;
	border-radius: 50%;
}

#profile{
	margin-top:10px;
	margin-right:20px;
}
#profile:hover{
	background: #ccc;
}

.navbar {
	height:100px !important;
	display: block;
	background-color:#FFF;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
}

.nav-item{
	margin-right:20px;
	margin-top:20px;
}

#login{
	margin-top: 15px;
}

.nav-item input[type=text]{
	margin-top: -10px;
}

.navbar-brand {
	font-size: 18px;
	float: left;
	vertical-align: center;
	margin-left: 5em;
	margin-top: 20px;
}

.navbar-toggler {
	position: relative;
	float: right;
	margin-right: 5em;
	margin-bottom: 8px;
	margin-top: 8px;
}

.navbar-toggler-icon {
	font-size: 16px;
}

.dropdown-menu {
	left: initial;
	right: 0;
}

.search-container{
	margin-top: 20px;
	margin-left: 50px;
}

.navbar #searchInput {
    float: right; 
    border: none;
    font-size: 17px;
}


.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #ccc;
}

#forgotpw{
	position:absolute;
	margin-top:0px;
	font-size: 12px;
	text-decoration: none;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .navbar #searchInput {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
        border: 1px solid #ccc;
    }
}

footer{
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
    margin-bottom: -10px;
}

footer .container{
	padding-top:10px;
}



.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
