@font-face{
	font-family: Brooklyn;
	src:url('/fonts/brooklyn.otf') format("opentype");
}

@font-face{
	font-family: Brooklyn;
	font-weight: bold;
	src:url('/fonts/brooklyn_bold.otf') format("opentype");
}


body{
	font-family:Brooklyn;
	letter-spacing: 2px;
	font-size: 2em;
}

.page-content-container{
	padding-top: 120px;
}

button{
	border-width: 0;
}

#vis{
	margin-top: -150px;
	margin-left:-200px;
}

.filters{
	margin-top: 80px;
	margin-left:-150px;
}


.dropdown-menu{
	width: 120%;
}

.dropdown-menu input{
	margin-left: 0.5em;
}

.dropdown-menu span{
	font-size:2em;
	padding-left:0.5em;
	padding-right: 0em;
}

label {
    display: inline-block;
    width: 5em;
  }


.tooltip{
	font-family:Brooklyn;
	letter-spacing: 2px;
	font-size: 0.6em;
	background-color: white;
	border-radius: 10px;
	height:wrap-content;
	width: wrap-content;
}

.tooltip > .content{
	margin-left:10px;
}


.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

